# Build results
[Bb]uild/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
[Oo]utput/
[Bb]in/
[Oo]bj/
[Rr]untimes/
root/

# nuget packages
[Pp]ackages

# merge left overs
*.orig
*.user

# .editorconfig
.vs/
.idea/

# Merge backups
*.orig

# Log files
*.log

# vscode
.vscode

# root license copy
root-license/
