build
# Build results
[Bb]uild/
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
[Oo]utput/
[Bb]in/
[Oo]bj/
[Rr]untimes/
root/

# nuget packages
[Pp]ackages

# merge left overs
*.orig
*.user

# User specific settings
*.csproj.user
*.vcxproj.user
#.editorconfig
.vs/
.idea/

# Merge backups
*.orig

# Log files
*.log

#vscode
.vscode
